# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class  
*.pyc

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/
.venv/
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py
db.sqlite3
media

# VS Code
.vscode/
.idea/
*.swp

# Migrations
*/migrations/
**/migrations/
*/migrations/*.pyc
**/migrations/*.pyc
*/migrations/__pycache__/
**/migrations/__pycache__/
